@charset "UTF-8";


.chat_log { 
	width: 50%; 
	height: 200px;
  	padding: 12px 20px;
  	/* box-sizing: border-box; */
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: #f8f8f8;
  	font-size: 16px;
  	resize: none;
}

input.nickname { 
	width: 8%;
	border: 5px solid #ccc;
}

input.message { 
	width: 32%;
	border: 5px solid #ccc; 
}

input.btn_chat { 
	width: 8%; 
	background-color: #808080;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	float: center;
}

.btn_chat:hover {
  background-color: #c0c0c0;
}