<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
   id="WebApp_ID" version="4.0"> 
   <display-name>ServletEx02</display-name>
   <welcome-file-list>
     <welcome-file>Main/Main.jsp</welcome-file>
   </welcome-file-list> 
   <servlet> 
   <servlet-name>DissLikes</servlet-name> 
   <servlet-class>servlet.ServletEx01</servlet-class> 
	<multipart-config>
		<location>C:\\upload\\tmp</location>
		<max-file-size>20971520</max-file-size>
		<max-request-size>41943040</max-request-size>
		<file-size-threshold>20971520</file-size-threshold>
	</multipart-config>
   </servlet>
 </web-app>